:root {
  --bg: #f7fafc;
  --text: #111827;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  text-align: center;
}

ul {
  list-style-type:none;
  padding: 0;
  text-align: left;
}
